# ===============================
# DATABASE
# ===============================
DB_USERNAME=student
DB_PASSWORD=

# ===============================
# JWT
# ===============================
JWT_SECRET=

# ===============================
# EMAIL
# ===============================
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=