# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/*.xml
!**/src/test/resources/*.xml

# Kotlin
.kotlin/
kotlin-js-store/

# Configuration and Sensitive Data
src/main/resources/application-local.properties
.env
.env.*

# OS Specific
.DS_Store
Thumbs.db

# Logs
*.log

#Bot
node_modules
bot/node_modules

# VSCode
.vscode
